{% extends "base.html" %}
{% block content %}
    <h1>Hello, {{ user.nickname }}!</h1>
    {% for post in posts.items %}
        {% include "post.html" %}
    {% endfor %}
    <div class="row">
        <div class="col">
                <ul class="pagination">
                    <li class="page-item {% if not posts.has_prev %} disabled {% endif %}">
                        <a class="page-link" href="{{ url_for('index', page=posts.prev_num) }}">
                            Newer posts
                        </a>
                    </li>
                    <li class="page-item {% if not posts.has_next %} disabled {% endif %}">
                        <a class="page-link" href="{{ url_for('index', page=posts.next_num) }}">
                            Older posts
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
{% endblock %}